node_modules/
bower_components/
.sass-cache/
.tmp/
dist/
gulp/
e2e/
src/
gulpfile.js
protractor.conf.js
package.json
npm-debug.log
karma.conf.js
bower.json
.yo-rc.json
.jshintrc
.editorconfig
.bowererrc
app/
